{% extends 'home/base.html' %}

{% block title %}Registro | {% endblock %}

{% block content %}
    <h1 class="title">Bienvenidos</h1>
    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="button is-dark is-uppercase">Registrarme</button>
            </div>
        </div>
    </form>

    <hr>

    <h2 class="subtitle">Ya tienes una cuenta?</h2>

    <a href="{% url 'ingresar' %}">Ingresar</a>
{% endblock %}